<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="store.css"> 
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Poiret+One&family=Yomogi&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

        .material-symbols-outlined{
            font-size: 30px;
        }
    </style>
    <title>糖露坊-門市據點</title>
</head>
<body>
    <!-- 導覽列 -->
    <div class="top-nav fixed-top">
        <span id="nav-logo" onclick="location.href='index.html'">
            <div class="logo">糖露坊</div>
            <div class="logo" id="logo_eng_name">EnchantedSugar Dreamscape</div>
        </span>
        <span class="nav-items"  id="news_btn" onclick="location.href='news.html'">
            <div class="item">最新消息</div>
            <div class="item-eng">News</div>
        </span>
        <span class="nav-items" onclick="location.href='menu.html'">
            <div class="item">美味甜點</div>
            <div class="item-eng">Menu</div>
        </span>
        <span class="nav-items" onclick="location.href='store.html'">
            <div class="item">門市據點</div>
            <div class="item-eng">Store</div>
        </span>
        
        <span class="nav-items" onclick="location.href='about_us.html'" >
            <div class="item">關於我們</div>
            <div class="item-eng">About us</div>
        </span>
        <!-- <span class="nav-items" onclick="location.href='member.html'">
            <div class="item">會員專區</div>
            <div class="item-eng">Member</div>
        </span> -->
        <span class="item cart" onclick="location.href='shopping_cart.html'">
            <span class="material-symbols-outlined">
                shopping_cart
            </span>
            <div class="count" id="cartCount">0</div>
        </span>
        <span class="material-symbols-outlined menu_icon" onclick="show_menu_items()" >
            menu
        </span>
        <div id="show_menu_overlay">
            <span class="material-symbols-outlined" style="float:right; display: block; color: brown; font-size: 50px; padding-right: 20px; padding-top: 20px;" onclick="off_menu_overlay()" >
                close
            </span>
            <div class="overlay_menu">
                <h3 onclick="location.href='index.html'" class="overlay_menu_item" >糖露坊<br>home</h3>
                <h3 onclick="location.href='about_us.html'" class="overlay_menu_item">關於我們<br>about us</h3>
                <h3 onclick="location.href='menu.html'" class="overlay_menu_item" >美味甜點<br>menu</h3>
                <h3 onclick="location.href='store.html'" class="overlay_menu_item" >門市據點<br>store</h3>
                <h3 onclick="location.href='news.html'"  class="overlay_menu_item">最新消息<br>news</h3>
                <h3 onclick="location.href='shopping_cart.html'" class="overlay_menu_item" id="shopping_cart_btn">購物籃<br>news</h3>
            </div>
        </div>   
    </div>


    <!-- 門市資訊 -->
    <div id="app">
        
        <div class="container-fluid">
          <div class="store_layout">
            <input type="text" v-model="searchQuery" placeholder="請輸入關鍵字進行搜尋...">
            <table>
              <thead>
                <tr>
                  <th>門市名稱</th>
                  <th>電話</th>
                  <th>地址</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="store in filteredStores" :key="store.id">
                  <td>{{ store.name }}</td>
                  <td>{{ store.phone }}</td>
                  <td>{{ store.address }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    


    <!-- footer -->
    <section id="footer">
        <footer>
            <div style="display: inline-block;">
                店名｜糖露坊 EnchantedSugar Dreamscape  聯絡電話｜03-123-4567  營業時間｜10:00am-9:00pm
                <br>
                訂購方式｜線上訂購/電話預訂來店領取/來店選購
                <br>
                地址｜新竹市糖果大道123號  e-mail｜enchantedsugar_dreamscape@example.com
                <p style="color: gray;">
                此為練習前端切版之作品，並無商業用途，僅供練習使用
            </div>
        </footer>
    </section>

    <!-- vue.js -->
    <script>
    new Vue({
      el: '#app', 
      data: {
        searchQuery: '', 
        stores: [ 
          { id: 1, name: '總店', phone: '03-1234567', address: '新竹市糖果大道123號' },
          { id: 2, name: '牛奶門市', phone: '02-1357997', address: '台北市大安區牛奶路29號' },
          { id: 3, name: '蜜糖門市', phone: '04-2345678', address: '台中市大雅區蜜糖街22號' },
          { id: 4, name: '花生門市', phone: '05-3456789', address: '屏東縣萬巒鄉花生路5弄193號' },
          { id: 5, name: '起司門市', phone: '03-4567890', address: '新竹縣竹北市起司街42號' },
          { id: 6, name: '吐司門市', phone: '02-9876543', address: '台北市信義區吐司街92號' },
          { id: 7, name: '香草門市', phone: '04-8765432', address: '台中市大安區香草大街93號' },
          { id: 8, name: '草莓門市', phone: '05-7654321', address: '屏東縣恆春鎮草莓大街100號' },
          { id: 9, name: '糖果門市', phone: '03-6543210', address: '新竹市糖果大道1號' },
          { id: 10, name: '甜甜圈門市', phone: '02-1122334', address: '台北市萬華區甜甜圈路84號' },
        ]
      },
      computed: {
        filteredStores: function() {
          return this.stores.filter(store => {
            return (
              store.name.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
              store.phone.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
              store.address.toLowerCase().includes(this.searchQuery.toLowerCase())
            );
          });
        }
      }
    });
    </script>

    <!-- 引入外部js -->
    <script src="store.js"></script>
    <script src="menu.js"></script>
</body>
</html>